button {
    cursor: pointer;
    outline: 0;
    color: #AAA;
    max-height: 40px;
    flex: 1;
    border-radius: 5%;
    max-width: 40px;
    margin-right: 1%;
}

.actions-btns {
    display: flex;
    margin-left: 2%;
    max-width: 40%;
    margin-right: 10px;
}

button div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn:focus {
    outline: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* Style for a disabled button */
.disabled-button {
    background-color: #dcdcdc;
    color: #a0a0a0;
    cursor: not-allowed;
    opacity: 0.7;
}

/* Optional: Style for a disabled button on hover */
.disabled-button:hover {
    background-color: #dcdcdc;
    color: #a0a0a0;
    cursor: not-allowed;
    opacity: 0.7;
}