<link rel="stylesheet" href="/stylesheets/partials/footer.css">

<footer class="footer-section">
    <div class="footer-div">

        <div class="footer-content flex-container-col">

            <div class="footer-SayHi flex-cont-two-col">
                <div class="footer-SayHi-img-block flex-col1">
                    <img src="/images/Home/sayHi.svg" alt="Say Hi">
                </div>
                <div class="footer-SayHi-form-block flex-col2">
                    <h2>Say Hi 👋</h2>
                    <form action="/aa">
                        <div class="footer-form-div">
                            <label class="footer-label" for="Name">Name*</label><br>
                            <input class="footer-input-text" type="text" name="Name" placeholder="Jhon Deo" required><br>
                        </div>
                        <div class="footer-form-div">
                            <label class="footer-label" for="Email">Emai*</label><br>
                            <input class="footer-input-email" type="email" name="Email" placeholder="deo.jhon@gmail.com" required><br>
                        </div>
                        <div class="footer-form-div">
                            <label class="footer-label" for="Message">Message*</label><br>
                            <textarea style="height: 7vw;" class="footer-input-message" type="textarea" name="Message" placeholder="Leave a message here..." required></textarea><br>
                        </div>

                        <button class="footer-input-submit" type="submit">Submit</button>
                    
                    </form>
                </div>
            </div>
        </div>

        <div class="social-links">
            <div style="margin: auto;"><h2>Connect with me</h2></div>
            <div class="social-icons">
                <ul class="list-inline social-icons-list">

                    <li class="list-nonbullet">
                        <div class="social-icon-img-div">
                            <a class="link" href="/"><img class="social-img" src="/images/Home/social-icons/linkedin (2).png" alt=""></a>
                            <p style="margin: 0 auto;">LinkedIn</p>
                        </div>
                    </li>
                    <li class="list-nonbullet">
                        <div class="social-icon-img-div">
                            <a class="link" href="/"><img class="social-img" src="/images/Home/social-icons/394187_github_icon.svg" alt=""></a>
                            <p style="margin: 0 auto;">Github</p>
                        </div>
                    </li>
                    <li class="list-nonbullet">
                        <a class="link" href="/">Email</a>
                    </li>
                    <li class="list-nonbullet">
                        <a class="link" href="/">Instagram</a>
                    </li>

                </ul>

            </div>

        </div>


    </div>
</footer>